<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SKAdNetworkIdentifier</key>
	<string>cstr6suwn9.skadnetwork</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>許可すると、あなたに合った広告が表示されやすくなります。これによる個人情報へのアクセスはありません。</string>
	<key>AppConfig</key>
	<dict>
		<key>AdmobUnitID</key>
		<string>$(ADMOB_UNIT_ID)</string>
	</dict>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-6708304974330091~5701829026</string>
</dict>
</plist>
